@tailwind base;
@tailwind components;
@tailwind utilities;

/* Brute force way to hide scrollbar */
/* Hide scrollbar for Chrome */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.textOnImage {
  @apply pl-3 text-right text-xl pr-3 pt-3
  prose-a:underline;
}
