@tailwind base;
@tailwind components;
@tailwind utilities;

/* Brute force way to hide scrollbar */
/* Hide scrollbar for Chrome */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.textOnImage {
  @apply text-left text-xl text-white leading-snug
  pl-3 pr-3 pt-12 pb-3
  prose-a:underline z-50;
}
